* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.list-item {
    list-style-type: none;
    padding: 15px 0;
}

.loading {
    padding: 25px;
    font-size: 25px;
}

