<app-company-filter
  [industries]="industries"
  [types]="types"
  (filterChange)="filterList($event)"
></app-company-filter>
<app-company-sort (sortFieldChange)="sortByField($event)"></app-company-sort>

<div class="list-container">  
  @if (isLoading) {
    <p class="loading">Загрузка...</p>
  }
  @if (!isLoading){
  <ul class="list">
    @for (company of listOfCompanies; track $index) {
    <li class="list-item">
      <app-company-item [company]="company"></app-company-item>
    </li>
    }
  </ul>
  } 
</div>
