<div class="info-container" (click)="navigateToDetail(company.id)">
  <div class="logo"><img src="{{ company.logo }}" width="100px" /></div>
  <ul class="info-list">
    <li class="info-list-item">
      Название компании:
      <span>{{ company.suffix }} "{{ company.business_name }}"</span>
    </li>
    <li class="info-list-item">
      Вид деятельности: <span>{{ company.industry }}</span>
    </li>
    <li class="info-list-item">
      Тип: <span>{{ company.type }}</span>
    </li>
  </ul>
</div>
