* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.info-container {
  display: flex;
  width: 600px;
  height: 120px;
  gap: 15px;
  align-items: center;
  padding: 5px;
  border: 2px solid black;
  cursor: pointer;
}

.info-list-item {
  list-style-type: none;

  span {
    font-weight: 600;
  }
}
